<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat CorDapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/index.js"></script>
</head>

<body ng-app="chatModule" ng-controller="chatCtrl as chatApp">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ChatApp - {{chatApp.thisNode}}</a>
        </div>
    </div>
</nav>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="peer in chatApp.peers">
                <a data-toggle="pill" ng-href="#{{peer}}">{{peer}}</a>
            </li>
        </ul>
    </div>

    <div class="col-md-7">
        <div class="tab-content">
            <div ng-repeat="peer in chatApp.peers" class="tab-pane fade" id="{{peer}}">
                <h3>Send message to {{peer}}:</h3>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" ng-model="chatApp.form.message" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="chatApp.send(peer)">Send!</button>
                </form>
                <h3>Messages with {{peer}}:</h3>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="message in chatApp.messages[peer]"
                        ng-class="message[0] == 'Me: ' ? ' list-group-item-success' : 'list-group-item-info'">
                        {{message[0]}} {{message[1]}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

</body>

</html>